{
	"speciesOrdering" : [ "human", "avian", "apex", "floran", "hylotl", "glitch", "novakid" ],
	"paneLayout" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "",
			"fileBody" : "/interface/title/charactercreation.png",
			"fileFooter" : "/interface/title/charactercreationfooter.png"
		},
		"kawaRandomize" : {
			"type" : "label",
			"position" : [280, 149],
			"hAnchor" : "mid",
			"value" : "RANDOMIZE:"
		},
		"labelToggleClothing" : {
			"type" : "label",
			"position" : [32, 31],
			"hAnchor" : "left",
			"value" : "Preview with clothes",
			"color" : [190, 190, 190]
		},
		"btnToggleClothing" : {
			"type" : "button",
			"base" : "/interface/title/checkboxnocheck.png",
			"hover" : "/interface/title/checkboxnocheckhover.png",
			"baseImageChecked" : "/interface/title/checkboxcheck.png",
			"hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
			"checkable" : true,
			"checked" : true,
			"position" : [20, 30],
			"callback" : "toggleClothing"
		},
		"labelSpeciesRadio" : {
			"type" : "label",
			"position" : [143, 230],
			"hAnchor" : "mid",
			"value" : "SPECIES"
		},
		"labelPortrait" : {
			"type" : "label",
			"position" : [292, 230],
			"hAnchor" : "mid",
			"value" : "HUMAN"
		},
		"labelMainSkinColor" : {
			"type" : "label",
			"position" : [176, 129],
			"hAnchor" : "mid"
		},
		"mainSkinColor" : {
			"type" : "spinner",
			"position" : [208, 129],
			"zlevel" : 1
		},
		"labelHairStyle" : {
			"type" : "label",
			"position" : [176, 117],
			"hAnchor" : "mid"
		},
		"hairStyle" : {
			"type" : "spinner",
			"position" : [208, 117],
			"zlevel" : 1
		},
		"labelShirt" : {
			"type" : "label",
			"position" : [176, 105],
			"hAnchor" : "mid"
		},
		"shirt" : {
			"type" : "spinner",
			"position" : [208, 105],
			"zlevel" : 1
		},
		"labelPants" : {
			"type" : "label",
			"position" : [176, 93],
			"hAnchor" : "mid"
		},
		"pants" : {
			"type" : "spinner",
			"position" : [208, 93],
			"zlevel" : 1
		},
		"labelPersonality" : {
			"type" : "label",
			"position" : [176, 81],
			"hAnchor" : "mid"
		},
		"personality" : {
			"type" : "spinner",
			"position" : [208, 81],
			"zlevel" : 1
		},
		"labelAlty" : {
			"type" : "label",
			"position" : [276, 129],
			"hAnchor" : "mid"
		},
		"alty" : {
			"type" : "spinner",
			"position" : [308, 129],
			"zlevel" : 1
		},
		"labelHeady" : {
			"type" : "label",
			"position" : [276, 117],
			"hAnchor" : "mid"
		},
		"heady" : {
			"type" : "spinner",
			"position" : [308, 117],
			"zlevel" : 1
		},
		"labelShirtColor" : {
			"type" : "label",
			"position" : [276, 105],
			"hAnchor" : "mid"
		},
		"shirtColor" : {
			"type" : "spinner",
			"position" : [308, 105],
			"zlevel" : 1
		},
		"labelPantsColor" : {
			"type" : "label",
			"position" : [276, 93],
			"hAnchor" : "mid"
		},
		"pantsColor" : {
			"type" : "spinner",
			"position" : [308, 93],
			"zlevel" : 1
		},
		"randomize" : {
			"type" : "button",
			"base" : "/interface/title/dice.png",
			"hover" : "/interface/title/diceover.png",
			"position" : [308, 145]
		},
		"randomName" : {
			"type" : "button",
			"base" : "/interface/title/dice.png",
			"hover" : "/interface/title/diceover.png",
			"position" : [308, 29]
		},
		"saveChar" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"position" : [166, 13],
			"caption" : "Done"
		},
		"cancel" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"position" : [265, 13],
			"caption" : "Cancel"
		},
		"species" : {
			"type" : "radioGroup",
			"position" : [20, 200],

			"baseImage" : "/interface/title/button.png",
			"hoverImage" : "/interface/title/buttonover.png",
			"baseImageChecked" : "/interface/title/selected.png",
			"hoverImageChecked" : "/interface/title/selectedover.png",

			"buttons" : [
				{
					"id" : 0,
					"image" : "",
					"position" : [0, 0]
				},
				{
					"id" : 1,
					"image" : "",
					"position" : [27, 0]
				},
				{
					"id" : 2,
					"image" : "",
					"position" : [54, 0]
				},
				{
					"id" : 3,
					"image" : "",
					"position" : [81, 0]
				},
				{
					"id" : 4,
					"image" : "",
					"position" : [108, 0]
				},
				{
					"id" : 5,
					"image" : "",
					"position" : [135, 0]
				},
				{
					"id" : 6,
					"image" : "",
					"position" : [162, 0]
				},
				{
					"id" : 7,
					"image" : "",
					"position" : [189, 0]
				},
				{
					"id" : 8,
					"image" : "",
					"position" : [0, -26]
				},
				{
					"id" : 9,
					"image" : "",
					"position" : [27, -26]
				},
				{
					"id" : 10,
					"image" : "",
					"position" : [54, -26]
				},
				{
					"id" : 11,
					"image" : "",
					"position" : [81, -26]
				},
				{
					"id" : 12,
					"image" : "",
					"position" : [108, -26]
				},
				{
					"id" : 13,
					"image" : "",
					"position" : [135, -26]
				},
				{
					"id" : 14,
					"image" : "",
					"position" : [162, -26]
				},
				{
					"id" : 15,
					"image" : "",
					"position" : [189, -26]
				},
				{
					"id" : 16,
					"image" : "",
					"position" : [0, -52]
				},
				{
					"id" : 17,
					"image" : "",
					"position" : [27, -52]
				},
				{
					"id" : 18,
					"image" : "",
					"position" : [54, -52]
				},
				{
					"id" : 19,
					"image" : "",
					"position" : [81, -52]
				},
				{
					"id" : 20,
					"image" : "",
					"position" : [0, -78]
				},
				{
					"id" : 21,
					"image" : "",
					"position" : [27, -78]
				},
				{
					"id" : 22,
					"image" : "",
					"position" : [54, -78]
				},
				{
					"id" : 23,
					"image" : "",
					"position" : [81, -78]
				},
				{
					"id" : 24,
					"image" : "",
					"position" : [0, -104]
				},
				{
					"id" : 25,
					"image" : "",
					"position" : [27, -104]
				},
				{
					"id" : 26,
					"image" : "",
					"position" : [54, -104]
				},
				{
					"id" : 27,
					"image" : "",
					"position" : [81, -104]
				},
				{
					"id" : 28,
					"image" : "",
					"position" : [0, -130]
				},
				{
					"id" : 29,
					"image" : "",
					"position" : [27, -130]
				},
				{
					"id" : 30,
					"image" : "",
					"position" : [54, -130]
				},
				{
					"id" : 31,
					"image" : "",
					"position" : [81, -130]
				},
				{
					"id" : 32,
					"image" : "",
					"position" : [0, -156]
				},
				{
					"id" : 33,
					"image" : "",
					"position" : [27, -156]
				},
				{
					"id" : 34,
					"image" : "",
					"position" : [54, -156]
				},
				{
					"id" : 35,
					"image" : "",
					"position" : [81, -156]
				}
			]
		},
		"gender" : {
			"type" : "radioGroup",
			"position" : [163, 144],

			"baseImage" : "/interface/title/button.png",
			"hoverImage" : "/interface/title/buttonover.png",
			"baseImageChecked" : "/interface/title/selected.png",
			"hoverImageChecked" : "/interface/title/selectedover.png",

			"buttons" : [
				{
					"id" : 0,
					"image" : "/interface/title/male.png",
					"position" : [0, 0]
				},
				{
					"id" : 1,
					"image" : "/interface/title/female.png",
					"selected" : true,
					"position" : [29, 0]
				}
			]
		},
		"labelMode" : {
			"type" : "label",
			"position" : [242, 70],
			"hAnchor" : "mid",
			"zlevel" : 1
		},
		"labelCasualMode" : {
			"type" : "label",
			"position" : [173, 50],
			"hAnchor" : "mid",
			"value" : "CASUAL"
		},
		"labelSurvivalMode" : {
			"type" : "label",
			"position" : [240, 50],
			"hAnchor" : "mid",
			"value" : "SURVIVAL"
		},
		"labelHardcoreMode" : {
			"type" : "label",
			"position" : [305, 50],
			"hAnchor" : "mid",
			"value" : "HARDCORE"
		},
		"mode" : {
			"type" : "radioGroup",
			"position" : [163, 50],

			"baseImage" : "/interface/title/checkboxnocheck.png",
			"hoverImage" : "/interface/title/checkboxnocheckhover.png",
			"baseImageChecked" : "/interface/title/checkboxcheck.png",
			"hoverImageChecked" : "/interface/title/checkboxcheckhover.png",

			"buttons" : [
				{
					"id" : 0,
					"image" : "",
					"text" : "",
					"selected" : true,
					"position" : [-17, 0],
					"data" : {
						"description" : "No need to eat and no death penalties."
					}
				},
				{
					"id" : 1,
					"image" : "",
					"text" : "",
					"position" : [47, 0],
					"data" : {
						"description" : "Eat to survive, drop items on death."
					}
				},
				{
					"id" : 2,
					"image" : "",
					"text" : "",
					"position" : [111, 0],
					"data" : {
						"description" : "When you die your character stays dead!"
					}
				}
			]
		},
		"charPreview" : {
			"type" : "portrait",
			"position" : [291, 198],
			"scale" : 1.5
		},
		"name" : {
			"type" : "textbox",
			"position" : [186, 33],
			"hint" : "name",
			"maxWidth" : 120,
			"enterKey" : "saveChar",
			"escapeKey" : "cancel",
			"focus" : true
		},
    "btnSkipIntro" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : false,
      "position" : [20, 18],
      "callback" : "null"
    },
    "lblSkipIntro" : {
      "type" : "label",
      "position" : [32, 19],
      "hAnchor" : "left",
      "value" : "Skip intro mission",
      "color" : [190, 190, 190]
    }
  }
}
